{{define "content"}}
<h1>
    Add-new-content
    <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Back</a>
</h1>
<hr>
<form action="/admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Content Title </label>
        <input type="text" name="blog-title" class="form-control">
    </div>
    <div class="form-group">
        <label>Content Description </label>
        <textarea name="blog-desc" cols="30" row="2" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label> Category </label>
        <select name="blog-category" class="form-control">
            <option value="1">
                Technology
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Content picture </label>
        <input type="file" name="blog-picture" class="form-control-file">
    </div>
    <div class="form-group">
        <label>Content Content </label>
        <textarea name="blog-content" id="summernote" cols="30" row="2" class="form-control"></textarea>
    </div>
    <button class="btn btn-outline-danger my-3" type="submit">Save</button>
</form>
{{end}}